<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<!--
	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-T39H7E8\SQLEXPRESS;Database=AdaposturiAnimale;Integrated Security=True"/>
	</connectionStrings>

	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
	<appSettings>
		<add key="ParentTableName" value="Adaposturi"/>
		<add key="ChildTableName" value="Voluntari"/>

		
		<add key="ChildColumnSelect" value="adapost_id"/>

		
		<add key="cnp" value="CNP"/>

		
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildColumnNames" value="CNP,Nume,Prenume,Telefon,Email"/>
		<add key="ColumnNamesInsertParameters" value ="@CNP,@Nume,@Prenume,@Telefon,@Email"/>

		
		<add key="ChildUpdateNumberOfColumns" value="2"/>
		<add key="ChildUpddateColumnNames" value="Telefon,Email"/>
		<add key="ColumnUpdateNamesInsertParameters" value ="@Telefon,@Email"/>
		
	</appSettings>

	-->
	


	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-T39H7E8\SQLEXPRESS;Database=Clinica;Integrated Security=True"/>
	</connectionStrings>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>


	<appSettings>
		<add key="ParentTableName" value="Specializare"/>
		<add key="ChildTableName" value="Medic"/>


		<add key="ChildColumnSelect" value="sidd"/>


		<add key="cnp" value="mid"/>


		<add key="ChildNumberOfColumns" value="2"/>
		<add key="ChildColumnNames" value="Nume,Prenume"/>
		<add key="ColumnNamesInsertParameters" value ="@Nume,@Prenume"/>


		<add key="ChildUpdateNumberOfColumns" value="2"/>
		<add key="ChildUpddateColumnNames" value="Nume,Prenume"/>
		<add key="ColumnUpdateNamesInsertParameters" value ="@Nume,@Prenume"/>

	</appSettings>

	
</configuration>